body{
    // display: grid;
    // transition: all .5s;
    // user-select: none;
    text-align: center;
    width: 600px;
    height: 100vh;
    margin: auto;
    color: white;
    background: linear-gradient(to bottom, red, white);
}
