body{
    display: flex;
    align-items: center;
    justify-content: center;
    
                        //change color here ˇ
    background: linear-gradient(to bottom, purple, orange);
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    color: white;
}
